[submodule "third_party/KDDockWidgets"]
	path = third_party/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets.git
[submodule "third_party/OpenTimelineIO"]
	path = third_party/OpenTimelineIO
	url = https://github.com/AcademySoftwareFoundation/OpenTimelineIO.git
[submodule "foundation"]
	path = foundation
	url = https://github.com/ArcForgesLabs/ArcVideoFoundation.git
	branch = main
